* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.seccion_busqueda {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#input_busqueda {
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.autocompletado {
  position: absolute;
  top: 45px;
  width: 100%;
  background: #1e293b;
  border-radius: 8px;
  list-style: none;
}

.autocompletado li {
  padding: 10px;
  cursor: pointer;
}

.autocompletado li:hover {
  background-color: #334155;
}

.nombre_repetido {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info_juego {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tablero {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.fila {
  display: flex;
  justify-content: space-between;
  background-color: #1e293b;
  padding: 10px;
  border-radius: 8px;
}

.celda {
  flex: 1;
  text-align: center;
}

.correcto {
  background-color: #22c55e;
}

.incorrecto {
  background-color: #ef4444;
}

.boton_reiniciar {
  padding: 10px 20px;
  border: none;
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.oculto{
  display: none;
}